        header {
			grid-column: 1 / -1; /* Header über die gesamte Breite */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
			position: sticky; /* Macht den Header sticky */
			top: 0; /* Setzt den Header an den oberen Rand des Viewports */
			z-index: 1000; /* Stellt sicher, dass der Header über anderen Inhalten liegt */
			box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Fügt einen leichten Schatten */
			background: 
			linear-gradient(to left, #FFFFFF 65%, #E5F6FB 95%),
         
            color: #262626;
        }
		footer {
			background-color: transparent; /* Hintergrundfarbe des Footers */
			padding: 20px; /* Polsterung im Footer für Abstand */
			text-align: center; /* Zentriert den Text im Footer */
			margin-top: 200px; /* Abstand zum Inhalt */
			grid-column: 1 / -1;
		}	
			
		.footer {
			text-align: center;
			width: 100%;
			padding: 20px 0;
			box-sizing: border-box;
			background: transparent;
			color: #262626;
			font-size: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
		}

		.logo img {
            width: 360px; /* oder die Größe, die Sie wünschen */
            cursor: pointer;
        }

        .menu {
            display: flex;
            gap: 20px; /* Abstand zwischen den Menüpunkten */
			padding-right: 30px;
			padding-left: 20px;
        }

		body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 15% 70% 15%;
			grid-template-rows: auto 1fr auto; /* Header und Inhalte */
            height: 100vh;
            gap: 20px;
            /* Verbesserter horizontaler Gradient */
            background: 
			linear-gradient(to left, #FFFFFF 65%, #E5F6FB 95%),
            linear-gradient(to right, #FFFFFF 65%, #E5F6FB 95%);
            color: #262626;
        }
		/* Stil für alle Überschriften */
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold; /* Macht die Schrift fett */
			color: #18227c; /* Setzt die Farbe auf Dunkelblau */
		}
		
        main {
            background-color: transparent; /* Ermöglicht die Sichtbarkeit des Hintergrund-Gradients */
            grid-column: 2 / 3;
        }
		.sidebar-left {
			grid-column: 1 / 2;
			display: flex;
			flex-direction: column;
			align-items: center; /* Linksbündige Ausrichtung der Inhalte */
			justify-content: start;
		/*	height: 100vh;  Volle Höhe */
			position: sticky;
			top: 0;
			padding: 40px;
			background-color: transparent; /* Hintergrundfarbe */
			box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
		}

		.popupanmelden, .popupregistrieren {
			position: relative;
			z-index: 500; /* niedriger als der Header, aber hoch genug für Überlagerungszwecke */
			width: 100%;
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: white;
			padding: 25px; /* Mehr Innenabstand für den gesamten Popup-Container */
			border: 1.5px solid #18227c; /* Dunkelblaue Rahmenfarbe */
			border-radius: 20px;
			box-shadow: 0 6px 8px rgba(0, 0, 0, 1.5);
			width: 300px; /* Fixe Breite für das Popup */
			text-align: center;

		}

		input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="file"], button {
			width: 100%; /* Setzt die Breite auf die volle Containerbreite */
			padding: 16px 20px; /* Erhöht die Polsterung für größere Eingabefelder */
			margin-bottom: 10px; /* Setzt den Abstand zwischen den Feldern */
			display: block; /* Block-Display, um die volle Breite zu nutzen */
			border: 1px solid #ccc; /* Feinere Rahmenlinie */
			border-radius: 20px; /* Abrunden der Ecken */
			box-sizing: border-box; /* Box-Sizing auf border-box umstellen */

		}
		
		textarea {
			width: 100%; /* Setzt die Breite auf die volle Containerbreite */
			padding: 16px 20px; /* Erhöht die Polsterung für größere Eingabefelder */
			margin-bottom: 10px; /* Setzt den Abstand zwischen den Feldern */
			display: block; /* Block-Display, um die volle Breite zu nutzen */
			border: 1px solid #ccc; /* Feinere Rahmenlinie */
			border-radius: 20px; /* Abrunden der Ecken */
			box-sizing: border-box; /* Box-Sizing auf border-box umstellen */
			resize: vertical; /* Ermöglicht vertikales Vergrößern */
			font-family: Arial, sans-serif; /* Stellt sicher, dass dieselbe Schriftart verwendet wird */
			font-size: 16px; /* Einheitliche Schriftgröße */
			line-height: 1.5; /* Verbessert die Lesbarkeit */
			height: 150px; /* Setzt die Standardhöhe */
		}
		
		.container-suche {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			min-height: 25vh; /* Stellt sicher, dass die Suchleiste vertikal zentriert ist */
		}	
		
		.tag-suche {
			display: flex;
			justify-content: left;
			align-items: left;
			padding: 20px;
			min-height: 10vh;
		}
		
		.search-form {
			display: flex;
			gap: 20px; /* Abstand zwischen den Elementen */
			align-items: center;
			font-family: Arial, sans-serif; /* Stellt Arial als Schriftart ein */
			width: 90%; /* Breite des Formulars, anpassbar nach Bedarf */
			max-width: 1000px; /* Maximale Breite, um auf großen Bildschirmen nicht zu breit zu werden */
			margin: 30px auto; /* Zentriert das Formular horizontal */
			padding: 10px;
			background-color: transparent;
			border: 1.5px solid #18227c; /* Fügt einen subtilen Rahmen hinzu */
			border-radius: 50px;
			box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
		}

		select, button {
			padding: 12px 20px; /* Mehr Padding für ein besseres Aussehen */
			width: 90%; /* Jedes Feld nimmt die volle Breite des Containers ein */
			border: 3px solid #18227c; /* Fügt einen subtilen Rahmen hinzu */
			border-radius: 20px; /* Abrundung der Ecken */
			cursor: pointer;
			margin-right: 10px; /* Fügt rechts einen kleinen Abstand hinzu */
			margin-left:10px;
			background-color: #fff; /* Hintergrundfarbe Weiß für klare Ansicht */
			box-sizing: border-box; /* Box-Sizing, um Breitenberechnungen zu vereinfachen */
		}
		.container-highlights {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 60%; /* Anpassung der Breite des Hauptcontainers */
			margin: auto; /* Zentriert den Container horizontal */
		}
		
		.container-vermieteransprache {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 60%; /* Anpassung der Breite des Hauptcontainers */
			margin: auto; /* Zentriert den Container horizontal */
		}
		
		.container-vermieteransprache p {
			text-align: center;
			width: 100%;
			margin: 0 0 1em 0; /* Abstand zwischen den Absätzen */
		}

		.form-container {
			display: flex; /* Verwendet Flexbox für eine flexible Layout-Gestaltung */
			flex-direction: column; /* Stapelt Elemente vertikal */
			gap: 10px; /* Setzt einen Abstand zwischen den Elementen */
		}
		/* Grundlegender Stil für Buttons */
		button, .button {
			margin-top: 10px; /* Setzt einen Abstand von oben für jeden Button */
			margin-bottom: 10px; /* Setzt einen Abstand von unten */
			background-color: #18227c; /* Dunkelblau als Hintergrundfarbe */
			color: white; /* Weiße Schrift */
			border: none; /* Keine Rahmen */
			padding: 14px 20px; /* Polsterung um den Text */
			white-space: nowrap;
			text-align: center; /* Zentrierter Text */
			text-decoration: none; /* Keine Unterstreichung */
			display: inline-block; /* Inline-Block für automatische Breitenanpassung */
			font-size: 16px; /* Schriftgröße */
			cursor: pointer; /* Cursor als Zeiger */
			border-radius: 20px; /* Abrundung der Ecken */
			transition: background-color 0.3s, color 0.3s; /* Weiche Übergänge für Farbwechsel */
			width: auto;
		}

		/* Hover-Stil für Buttons */
		button:hover {
			background-color: #bd5793; /* Rosa beim Hovern */
		}

		/* Spezifischer Stil für die Schließ-Buttons 
		button.cancel {
			background-color: #999; /* Grau für Abbrechen-Buttons */
		

		button.cancel:hover {
			background-color: #666; /* Dunkelgrau beim Hovern */
		}
		
		/* Stile für das Haus Add Formular */
		.form-horizontal {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.form-group {
			display: flex;
			gap: 20px;
		}

		.form-group-horizontal {
			display: flex;
			gap: 20px;
		}

		.upload_section {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-width: 150px; /* Mindestbreite für bessere Lesbarkeit */
		}
		/* Stile für die Tags-Eingabe und das Dropdown-Menü */
		.tags-input-container {
			display: flex;
			gap: 20px;
			align-items: flex-start;
		}

		.tags-input {
			flex-grow: 1;
		}

		.tags-container {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 10px;
			flex-grow: 1;
		}

		#tags-select {
			flex-grow: 1;
			width: 100%;
			max-width: 300px;
			margin-top: 10px;
		}

		.tag {
			display: inline-block;
			background-color: #f1f1f1;
			border: 1px solid #ccc;
			padding: 5px;
			margin: 2px;
			border-radius: 3px;
		}

		.remove-tag {
			margin-left: 5px;
			margin-right: 10px;
			cursor: pointer;
			color: #ff0000;
		}

/* Container2 für dynamische Ferienhäuseranzeige */

		.container2 {
			display: flex;
			align-items: center;
			margin: 20px;
			padding: 20px;
			border: 1px solid #ccc;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			width: 90%;
			max-width: 1000px;
			border-radius: 15px; /* Abgerundete Ecken für den Container */
		}
		.container2 img {
			width: 150px;
			height: 150px;
			object-fit: cover; /* Bild skalieren und zuschneiden, um die Größe zu füllen */
			margin-right: 20px;
			transition: transform 0.3s; /* Transition-Effekt */
			border-radius: 15px; /* Abgerundete Ecken für das Bild */
		}

		/* CSS für die Slideshow */

		/* Der Container für die gesamte Slideshow */
		.slideshow-container {
			position: relative; /* Position relativ zu seinem normalen Standort */
			max-width: 50%; /* Maximale Breite auf 50% des übergeordneten Containers begrenzt */
			margin: 0 auto 0 0; /* Linker Rand auf 0, rechter Rand auf auto */
			border: 3px solid #18227c; /* Rahmenfarbe */
			border-radius: 20px; /* Abgerundete Ecken */
			overflow: hidden; /* Verhindert, dass überstehende Inhalte sichtbar sind */
			background-color: #f8f8f8; /* Hintergrundfarbe, um den Container hervorzuheben */
			height: 500px; /* Feste Höhe, damit sich die Größe des Containers nicht ändert */
			display: flex; /* Flexbox-Layout, um Inhalt auszurichten */
			align-items: left; /* Zentriert den Inhalt vertikal */
			justify-content: center; /* Zentriert den Inhalt horizontal */
		}

		/* Einzelne Slides innerhalb der Slideshow */
		.slides {
			display: none; /* Versteckt die Slides standardmäßig */
			width: 100%; /* Bilder füllen den Container */
			height: 100%; /* Bilder füllen den Container */
			object-fit: cover; /* Bilder werden skaliert, um den Container zu füllen */
			position: absolute; /* Absolute Positionierung innerhalb des Containers */
		}

		/* Die "Vorherige" und "Nächste" Pfeile */
		.prev, .next {
			cursor: pointer; /* Ändert den Mauszeiger in einen Zeiger, wenn über den Pfeil gefahren wird */
			position: absolute; /* Absolute Positionierung innerhalb des Containers */
			top: 50%; /* Positioniert die Pfeile in der Mitte vertikal */
			width: auto; /* Breite automatisch */
			padding: 16px; /* Innenabstand für besseren Klickbereich */
			margin-top: -22px; /* Verschiebt die Pfeile vertikal nach oben, um sie zu zentrieren */
			color: white; /* Textfarbe der Pfeile */
			font-weight: bold; /* Fettschrift für die Pfeile */
			font-size: 26px; /* Schriftgröße der Pfeile */
			transition: 0.6s ease; /* Weicher Übergangseffekt bei Hover */
			user-select: none; /* Verhindert die Textauswahl bei Doppelklick */
		}

		/* Der "Vorherige" Pfeil (linker Pfeil) */
		.prev {
			left: 0; /* Positioniert den Pfeil am linken Rand */
			border-radius: 0 5px 5px 0; /* Abgerundete Ecken für den linken Pfeil */
		}

		/* Der "Nächste" Pfeil (rechter Pfeil) */
		.next {
			right: 0; /* Positioniert den Pfeil am rechten Rand */
			border-radius: 5px 0 0 5px; /* Abgerundete Ecken für den rechten Pfeil */
		}

		/* Hover-Effekt für die Pfeile */
		.prev:hover, .next:hover {
			background-color: rgba(0, 0, 0, 0.8); /* Hintergrundfarbe beim Hover */
		}

		/* Der Container für den Lageplan */
		.lageplan-container {
			margin-top: 20px; /* Abstand zum oberen Element */
			border: 3px #18227c; /* Rahmenfarbe */
			border-radius: 20px; /* Abgerundete Ecken */
			overflow: hidden; /* Verhindert, dass überstehende Inhalte sichtbar sind */
			background-color: #f8f8f8; /* Hintergrundfarbe, um den Container hervorzuheben */
			height: 300px; /* Höhe des Lageplan-Bildes */
			width: 500px; /* Breite des Lageplan-Bildes */
			display: flex; /* Flexbox-Layout, um Inhalt auszurichten */
			align-items: center; /* Zentriert den Inhalt vertikal */
			justify-content: center; /* Zentriert den Inhalt horizontal */
		}
		
		/*Tabellenstyle für alle Tabellen (egal ob meine_buchungen.php, unterkuenfte_verwalten.php oder alle Admin Tabellen)*/
		table {
			width: 80%;                /* Die Tabelle nimmt 80% der Seitenbreite ein */
			margin: auto;            /* Zentriert die Tabelle horizontal auf der Seite */
			border-collapse: collapse; /* Entfernt die Abstände zwischen den Tabellenzellen, sodass die Ränder der Zellen zusammengeführt werden */
		}

		/* Stile für die Tabelle, Tabellenkopfzellen (th) und Tabellenzellen (td) */
		table, th, td {
			border: 3px solid #18227c;   /* Setzt einen Rand um die gesamte Tabelle sowie um jede Kopf- und Datenzelle */
		}

		/* Stile für die Tabellenkopfzellen (th) und Tabellenzellen (td) */
		th, td {
			padding: 5px;             /* Fügt innerhalb jeder Zelle einen Abstand von 5 Pixeln ein, um den Inhalt von den Rändern der Zelle zu trennen */
			text-align: left;         /* Richtet den Text innerhalb jeder Zelle linksbündig aus */
			height: 30px;             /* Setzt die Höhe jeder Zelle auf 30 Pixel, um eine konsistente Zeilenhöhe zu gewährleisten */
			overflow: hidden;         /* Verhindert, dass der Inhalt die festgelegte Höhe überschreitet */
			white-space: nowrap;      /* Verhindert den automatischen Zeilenumbruch innerhalb der Zellen */
		}

		/* Zusätzlicher Stil nur für die Tabellenkopfzellen (th) */
		th {
			background-color: #f2f2f2; /* Setzt den Hintergrund der Tabellenkopfzellen auf ein hellgraues Farbschema */
		}
		caption {
			caption-side: top;
			text-align: center;
			margin-bottom: 10px;
		}
		.welcome-message {
			text-align: center; 
			color: #18227c;
		}




