header {
    grid-column: 1 / -1; /* Header über die gesamte Breite */
    display: flex; /* Flexbox für Layout */
    justify-content: space-between; /* Platz zwischen den Elementen */
    align-items: center; /* Elemente vertikal zentrieren */
    padding: 10px 20px; /* Innenabstand */
    position: sticky; /* Macht den Header sticky */
    top: 0; /* Setzt den Header an den oberen Rand des Viewports */
    z-index: 1000; /* Stellt sicher, dass der Header über anderen Inhalten liegt */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Fügt einen leichten Schatten hinzu */
    background: 
    linear-gradient(to left, #FFFFFF 65%, #E5F6FB 95%); /* Gradient-Hintergrund */
    color: #262626; /* Textfarbe */
}

footer {
    background-color: transparent; /* Hintergrundfarbe des Footers */
    padding: 20px; /* Polsterung im Footer für Abstand */
    text-align: center; /* Zentriert den Text im Footer */
    margin-top: 200px; /* Abstand zum Inhalt */
    grid-column: 1 / -1; /* Footer über die gesamte Breite */
}

.footer {
    text-align: center; /* Text zentrieren */
    width: 100%; /* Volle Breite */
    padding: 20px 0; /* Polsterung oben und unten */
    box-sizing: border-box; /* Padding und Border in der Gesamtbreite enthalten */
    background: transparent; /* Transparenter Hintergrund */
    color: #262626; /* Textfarbe */
    font-size: 16px; /* Schriftgröße */
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center; /* Zentriert die Elemente horizontal */
    justify-content: center; /* Zentriert die Elemente vertikal */
    margin: 0 auto; /* Zentriert den Footer horizontal */
}

.logo img {
    width: 360px; /* Breite des Bildes */
    cursor: pointer; /* Mauszeiger ändert sich bei Hover */
}

.menu {
    display: flex; /* Flexbox für Layout */
    gap: 20px; /* Abstand zwischen den Menüpunkten */
    padding-right: 30px; /* Rechts Padding */
    padding-left: 20px; /* Links Padding */
}

body {
    font-family: Arial, sans-serif; /* Schriftart */
    margin: 0; /* Kein Außenabstand */
    padding: 0; /* Kein Innenabstand */
    display: grid; /* Grid-Layout */
    grid-template-columns: 15% 70% 15%; /* Spaltenbreite */
    grid-template-rows: auto 1fr auto; /* Zeilenhöhe */
    height: 100vh; /* Höhe des Viewports */
    gap: 20px; /* Abstand zwischen den Grid-Elementen */
    background: 
    linear-gradient(to left, #FFFFFF 65%, #E5F6FB 95%), /* Hintergrundgradient */
    linear-gradient(to right, #FFFFFF 65%, #E5F6FB 95%); /* Verbesserter horizontaler Gradient */
    color: #262626; /* Textfarbe */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Macht die Schrift fett */
    color: #18227c; /* Setzt die Farbe auf Dunkelblau */
}

main {
    background-color: transparent; /* Ermöglicht die Sichtbarkeit des Hintergrund-Gradients */
    grid-column: 2 / 3; /* Hauptinhalt in der mittleren Spalte */
}

.sidebar-left {
    grid-column: 1 / 2; /* Linke Spalte */
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center; /* Elemente zentrieren */
    justify-content: start; /* Ausrichtung oben */
    position: sticky; /* Sticky-Position */
    top: 0; /* Am oberen Rand kleben */
    padding: 40px; /* Polsterung */
    background-color: transparent; /* Transparenter Hintergrund */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Schatten rechts */
}

.popupanmelden, .popupregistrieren {
    position: relative; /* Relative Positionierung */
    z-index: 500; /* niedriger als der Header, aber hoch genug für Überlagerungszwecke */
    width: 100%; /* Volle Breite */
    display: none; /* Standardmäßig versteckt */
    position: fixed; /* Fixe Position */
    top: 50%; /* Zentriert vertikal */
    left: 50%; /* Zentriert horizontal */
    transform: translate(-50%, -50%); /* Perfekte Zentrierung */
    background-color: white; /* Weißer Hintergrund */
    padding: 25px; /* Polsterung */
    border: 1.5px solid #18227c; /* Dunkelblaue Rahmenfarbe */
    border-radius: 20px; /* Abgerundete Ecken */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 1.5); /* Schatten */
    width: 300px; /* Fixe Breite */
    text-align: center; /* Text zentrieren */
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="file"], button {
    width: 100%; /* Setzt die Breite auf die volle Containerbreite */
    padding: 16px 20px; /* Erhöht die Polsterung für größere Eingabefelder */
    margin-bottom: 10px; /* Setzt den Abstand zwischen den Feldern */
    display: block; /* Block-Display, um die volle Breite zu nutzen */
    border: 1px solid #ccc; /* Feinere Rahmenlinie */
    border-radius: 20px; /* Abrunden der Ecken */
    box-sizing: border-box; /* Box-Sizing auf border-box umstellen */
}

textarea {
    width: 100%; /* Setzt die Breite auf die volle Containerbreite */
    padding: 16px 20px; /* Erhöht die Polsterung für größere Eingabefelder */
    margin-bottom: 10px; /* Setzt den Abstand zwischen den Feldern */
    display: block; /* Block-Display, um die volle Breite zu nutzen */
    border: 1px solid #ccc; /* Feinere Rahmenlinie */
    border-radius: 20px; /* Abrunden der Ecken */
    box-sizing: border-box; /* Box-Sizing auf border-box umstellen */
    resize: vertical; /* Ermöglicht vertikales Vergrößern */
    font-family: Arial, sans-serif; /* Stellt sicher, dass dieselbe Schriftart verwendet wird */
    font-size: 16px; /* Einheitliche Schriftgröße */
    line-height: 1.5; /* Verbessert die Lesbarkeit */
    height: 150px; /* Setzt die Standardhöhe */
}

.container-suche {
    display: flex; /* Flexbox für Layout */
    justify-content: center; /* Zentriert die Inhalte horizontal */
    align-items: center; /* Zentriert die Inhalte vertikal */
    padding: 20px; /* Polsterung */
    min-height: 25vh; /* Mindesthöhe für vertikale Zentrierung */
}

.tag-suche {
    display: flex; /* Flexbox für Layout */
    justify-content: left; /* Links ausrichten */
    align-items: left; /* Links ausrichten */
    padding: 20px; /* Polsterung */
    min-height: 10vh; /* Mindesthöhe */
}

.search-form {
    display: flex; /* Flexbox für Layout */
    gap: 20px; /* Abstand zwischen den Elementen */
    align-items: center; /* Zentriert die Inhalte vertikal */
    font-family: Arial, sans-serif; /* Stellt Arial als Schriftart ein */
    width: 90%; /* Breite des Formulars */
    max-width: 1000px; /* Maximale Breite */
    margin: 30px auto; /* Zentriert das Formular horizontal */
    padding: 10px; /* Polsterung */
    background-color: transparent; /* Transparenter Hintergrund */
    border: 1.5px solid #18227c; /* Rahmen */
    border-radius: 50px; /* Abgerundete Ecken */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Schatten */
}

select, button {
    padding: 12px 20px; /* Mehr Padding für ein besseres Aussehen */
    width: 90%; /* Jedes Feld nimmt die volle Breite des Containers ein */
    border: 3px solid #18227c; /* Fügt einen subtilen Rahmen hinzu */
    border-radius: 20px; /* Abrundung der Ecken */
    cursor: pointer; /* Mauszeiger ändert sich bei Hover */
    margin-right: 10px; /* Fügt rechts einen kleinen Abstand hinzu */
    margin-left:10px; /* Fügt links einen kleinen Abstand hinzu */
    background-color: #fff; /* Hintergrundfarbe Weiß */
    box-sizing: border-box; /* Box-Sizing */
}

.container-highlights {
    text-align: center; /* Text zentrieren */
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center; /* Elemente zentrieren */
    width: 60%; /* Breite des Containers */
    margin: auto; /* Zentriert den Container horizontal */
}

.container-vermieteransprache {
    text-align: center; /* Text zentrieren */
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center; /* Elemente zentrieren */
    width: 60%; /* Breite des Containers */
    margin: auto; /* Zentriert den Container horizontal */
}

.container-vermieteransprache p {
    text-align: center; /* Text zentrieren */
    width: 100%; /* Volle Breite */
    margin: 0 0 1em 0; /* Abstand zwischen den Absätzen */
}

.form-container {
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    gap: 10px; /* Abstand zwischen den Elementen */
}

button, .button {
    margin-top: 10px; /* Abstand von oben */
    margin-bottom: 10px; /* Abstand von unten */
    background-color: #18227c; /* Dunkelblauer Hintergrund */
    color: white; /* Weiße Schrift */
    border: none; /* Kein Rahmen */
    padding: 14px 20px; /* Polsterung */
    white-space: nowrap; /* Kein automatischer Zeilenumbruch */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block für automatische Breitenanpassung */
    font-size: 16px; /* Schriftgröße */
    cursor: pointer; /* Mauszeiger ändert sich bei Hover */
    border-radius: 20px; /* Abgerundete Ecken */
    transition: background-color 0.3s, color 0.3s; /* Weiche Übergänge für Farbwechsel */
    width: auto; /* Automatische Breite */
}

button:hover {
    background-color: #bd5793; /* Hintergrundfarbe beim Hover */
}

button.cancel {
    background-color: #999; /* Grau für Abbrechen-Buttons */
}

button.cancel:hover {
    background-color: #666; /* Dunkelgrau beim Hover */
}

.form-horizontal {
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    gap: 20px; /* Abstand zwischen den Elementen */
}

.form-group {
    display: flex; /* Flexbox für Layout */
    gap: 20px; /* Abstand zwischen den Elementen */
}

.form-group-horizontal {
    display: flex; /* Flexbox für Layout */
    gap: 20px; /* Abstand zwischen den Elementen */
}

.upload_section {
    display: flex; /* Flexbox für Layout */
    flex-direction: column; /* Elemente vertikal anordnen */
    flex: 1; /* Flex-Wachstum */
    min-width: 150px; /* Mindestbreite */
}

.tags-input-container {
    display: flex; /* Flexbox für Layout */
    gap: 20px; /* Abstand zwischen den Elementen */
    align-items: flex-start; /* Elemente oben ausrichten */
}

.tags-input {
    flex-grow: 1; /* Flex-Wachstum */
}

.tags-container {
    display: flex; /* Flexbox für Layout */
    flex-wrap: wrap; /* Elemente umbrechen */
    gap: 10px; /* Abstand zwischen den Elementen */
    margin-top: 10px; /* Abstand von oben */
    flex-grow: 1; /* Flex-Wachstum */
}

#tags-select {
    flex-grow: 1; /* Flex-Wachstum */
    width: 100%; /* Volle Breite */
    max-width: 300px; /* Maximale Breite */
    margin-top: 10px; /* Abstand von oben */
}

.tag {
    display: inline-block; /* Inline-Block für automatische Breitenanpassung */
    background-color: #f1f1f1; /* Hintergrundfarbe */
    border: 1px solid #ccc; /* Rahmenfarbe */
    padding: 5px; /* Polsterung */
    margin: 2px; /* Außenabstand */
    border-radius: 3px; /* Abgerundete Ecken */
}

.remove-tag {
    margin-left: 5px; /* Abstand von links */
    margin-right: 10px; /* Abstand von rechts */
    cursor: pointer; /* Mauszeiger ändert sich bei Hover */
    color: #ff0000; /* Schriftfarbe */
}

.container2 {
    display: flex; /* Flexbox für Layout */
    align-items: center; /* Elemente vertikal zentrieren */
    margin: 20px; /* Außenabstand */
    padding: 20px; /* Polsterung */
    border: 1px solid #ccc; /* Rahmenfarbe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten */
    width: 90%; /* Breite */
    max-width: 1000px; /* Maximale Breite */
    border-radius: 15px; /* Abgerundete Ecken */
}

.container2 img {
    width: 150px; /* Breite des Bildes */
    height: 150px; /* Höhe des Bildes */
    object-fit: cover; /* Bild skalieren und zuschneiden */
    margin-right: 20px; /* Abstand von rechts */
    transition: transform 0.3s; /* Transition-Effekt */
    border-radius: 15px; /* Abgerundete Ecken */
}

.slideshow-container {
    position: relative; /* Position relativ zu seinem normalen Standort */
    max-width: 50%; /* Maximale Breite auf 50% des übergeordneten Containers begrenzt */
    margin: 0 auto 0 0; /* Linker Rand auf 0, rechter Rand auf auto */
    border: 3px solid #18227c; /* Rahmenfarbe */
    border-radius: 20px; /* Abgerundete Ecken */
    overflow: hidden; /* Verhindert, dass überstehende Inhalte sichtbar sind */
    background-color: #f8f8f8; /* Hintergrundfarbe */
    height: 500px; /* Feste Höhe */
    display: flex; /* Flexbox für Layout */
    align-items: left; /* Elemente links ausrichten */
    justify-content: center; /* Elemente zentrieren */
}

.slides {
    display: none; /* Versteckt die Slides standardmäßig */
    width: 100%; /* Bilder füllen den Container */
    height: 100%; /* Bilder füllen den Container */
    object-fit: cover; /* Bilder werden skaliert */
    position: absolute; /* Absolute Positionierung */
}

.prev, .next {
    cursor: pointer; /* Mauszeiger ändert sich bei Hover */
    position: absolute; /* Absolute Positionierung */
    top: 50%; /* Vertikal zentriert */
    width: auto; /* Breite automatisch */
    padding: 16px; /* Innenabstand */
    margin-top: -22px; /* Verschiebt die Pfeile vertikal */
    color: white; /* Textfarbe */
    font-weight: bold; /* Fettschrift */
    font-size: 26px; /* Schriftgröße */
    transition: 0.6s ease; /* Weicher Übergangseffekt */
    user-select: none; /* Verhindert Textauswahl */
}

.prev {
    left: 0; /* Linker Rand */
    border-radius: 0 5px 5px 0; /* Abgerundete Ecken */
}

.next {
    right: 0; /* Rechter Rand */
    border-radius: 5px 0 0 5px; /* Abgerundete Ecken */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Hintergrundfarbe beim Hover */
}

.lageplan-container {
    margin-top: 20px; /* Abstand von oben */
    border: 3px solid #18227c; /* Rahmenfarbe */
    border-radius: 20px; /* Abgerundete Ecken */
    overflow: hidden; /* Verhindert, dass überstehende Inhalte sichtbar sind */
    background-color: #f8f8f8; /* Hintergrundfarbe */
    height: 300px; /* Höhe */
    width: 500px; /* Breite */
    display: flex; /* Flexbox für Layout */
    align-items: center; /* Elemente zentrieren */
    justify-content: center; /* Elemente zentrieren */
}

table {
    width: 80%; /* Die Tabelle nimmt 80% der Seitenbreite ein */
    margin: auto; /* Zentriert die Tabelle horizontal */
    border-collapse: collapse; /* Entfernt die Abstände zwischen den Zellen */
}

table, th, td {
    border: 3px solid #18227c; /* Rahmen um die gesamte Tabelle sowie jede Kopf- und Datenzelle */
}

th, td {
    padding: 5px; /* Abstand innerhalb jeder Zelle */
    text-align: left; /* Text linksbündig */
    height: 30px; /* Zellenhöhe */
    overflow: hidden; /* Verhindert, dass der Inhalt die Zellenhöhe überschreitet */
    white-space: nowrap; /* Verhindert Zeilenumbruch */
}

th {
    background-color: #f2f2f2; /* Hintergrundfarbe der Tabellenkopfzellen */
}

caption {
    caption-side: top; /* Positionierung der Tabellenbeschriftung oben */
    text-align: center; /* Zentriert die Tabellenbeschriftung */
    margin-bottom: 10px; /* Abstand nach unten */
}

.welcome-message {
    text-align: center; /* Text zentrieren */
    color: #18227c; /* Textfarbe */
}

/* Stildefinitionen für das heroImageGrid */
.c-heroImageGrid {
  position: relative; /* Setzt die Position relativ zum nächsten positionierten Vorfahren */
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
  height: 50vw; /* Setzt die Höhe auf 50% der Viewport-Breite */
  background: #fff; /* Weißer Hintergrund */
  margin-bottom: 60px; /* 60px Abstand nach unten */
}

.c-heroImageGrid .container {
  display: flex; /* Flexbox-Layout */
  align-items: flex-end; /* Elemente am unteren Rand des Containers ausrichten */
  position: absolute; /* Absolute Positionierung */
  top: -20vw; /* 20% der Viewport-Breite nach oben verschieben */
  left: -8vw; /* 8% der Viewport-Breite nach links verschieben */
  transform: rotateZ(45deg); /* Container um 45 Grad drehen */
  height: 100vw; /* Höhe auf 100% der Viewport-Breite setzen */
  width: 107vw; /* Breite auf 107% der Viewport-Breite setzen */
}

.c-heroImageGrid .container .column {
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
  position: relative; /* Relative Positionierung */
}

/* Erste Spalte des Containers */
.c-heroImageGrid .container .column:nth-of-type(1) {
  border-right: 8px solid white; /* Rechte Begrenzungslinie */
  width: 25%; /* Breite auf 25% des Containers setzen */
  height: 66vw; /* Höhe auf 66% der Viewport-Breite setzen */
}

.c-heroImageGrid .container .column:nth-of-type(1):before {
  position: absolute; /* Absolute Positionierung */
  top: 8.4vw; /* 8.4% der Viewport-Breite nach unten verschieben */
  left: 8.1vw; /* 8.1% der Viewport-Breite nach links verschieben */
  background-repeat: no-repeat; /* Hintergrundbild nicht wiederholen */
  background-size: cover; /* Hintergrundbild skalieren, um den gesamten Bereich abzudecken */
  transform: rotateZ(-45deg); /* Element um -45 Grad drehen */
  content: ""; /* Leeres Pseudoelement */
  width: 37vw; /* Breite auf 37% der Viewport-Breite setzen */
  height: 38vw; /* Höhe auf 38% der Viewport-Breite setzen */
  background-image: url('STRR.jpg'); /* Hintergrundbild festlegen */
}

/* Zweite Spalte des Containers */
.c-heroImageGrid .container .column:nth-of-type(2) {
  display: flex; /* Flexbox-Layout */
  flex-direction: column-reverse; /* Spalten in umgekehrter Reihenfolge */
  width: 75%; /* Breite auf 75% des Containers setzen */
  height: 109.1vw; /* Höhe auf 109.1% der Viewport-Breite setzen */
}

.c-heroImageGrid .container .column:nth-of-type(2) .row {
  border-top: 8px solid #fff; /* Obere Begrenzungslinie */
}

/* Erste Zeile der zweiten Spalte */
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1) {
  position: relative; /* Relative Positionierung */
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
  height: 50vw; /* Höhe auf 50% der Viewport-Breite setzen */
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
  position: absolute; /* Absolute Positionierung */
  top: -10.1vw; /* 10.1% der Viewport-Breite nach oben verschieben */
  left: -14.3vw; /* 14.3% der Viewport-Breite nach links verschieben */
  background-repeat: no-repeat; /* Hintergrundbild nicht wiederholen */
  background-size: cover; /* Hintergrundbild skalieren, um den gesamten Bereich abzudecken */
  transform: rotateZ(-45deg); /* Element um -45 Grad drehen */
  content: ""; /* Leeres Pseudoelement */
  width: 65vw; /* Breite auf 65% der Viewport-Breite setzen */
  height: 39vw; /* Höhe auf 39% der Viewport-Breite setzen */
  background-image: url('FW_ME_BO_PR 1.jpg'); /* Hintergrundbild festlegen */
}

/* Zweite Zeile der zweiten Spalte */
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) {
  display: flex; /* Flexbox-Layout */
  height: 40.5vw; /* Höhe auf 40.5% der Viewport-Breite setzen */
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
  border-top: none; /* Keine obere Begrenzungslinie */
}

/* Erste Spalte der zweiten Zeile der zweiten Spalte */
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) {
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
  width: 30%; /* Breite auf 30% setzen */
  background-color: #8B8B8A; /* Hintergrundfarbe */
}

/* Text innerhalb der ersten Spalte der zweiten Zeile */
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text {
  width: 100%; /* Breite auf 100% setzen */
  height: 100%; /* Höhe auf 100% setzen */
  overflow: visible; /* Überlaufen sichtbar machen */
  transform: rotateZ(-45deg); /* Text um -45 Grad drehen */
  position: relative; /* Relative Positionierung */
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text h6 {
  position: absolute; /* Absolute Positionierung */
  color: #fff; /* Textfarbe weiß */
  text-transform: uppercase; /* Text in Großbuchstaben umwandeln */
  font-weight: bold; /* Fettgedruckter Text */
  font-size: 1.35vw; /* Schriftgröße auf 1.35% der Viewport-Breite setzen */
  width: 20vw; /* Breite auf 20% der Viewport-Breite setzen */
  top: 16vw; /* 16% der Viewport-Breite nach unten verschieben */
  left: 7vw; /* 7% der Viewport-Breite nach links verschieben */
  line-height: 1.55vw; /* Zeilenhöhe auf 1.55% der Viewport-Breite setzen */
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) .text p {
  text-align: left; /* Text linksbündig ausrichten */
  position: absolute; /* Absolute Positionierung */
  color: #fff; /* Textfarbe weiß */
  font-size: 0.9vw; /* Schriftgröße auf 0.9% der Viewport-Breite setzen */
  width: 18vw; /* Breite auf 18% der Viewport-Breite setzen */
  top: 23.5vw; /* 23.5% der Viewport-Breite nach unten verschieben */
  left: -3.5vw; /* 3.5% der Viewport-Breite nach links verschieben */
}

/* Zweite Spalte der zweiten Zeile der zweiten Spalte */
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2) {
  position: relative; /* Relative Positionierung */
  width: 60%; /* Breite auf 60% setzen */
  border-left: 8px solid white; /* Linke Begrenzungslinie */
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):before {
  position: absolute; /* Absolute Positionierung */
  top: 0; /* Kein vertikales Verschieben */
  left: -70vw; /* 70% der Viewport-Breite nach links verschieben */
  width: 110.1vw; /* Breite auf 110.1% der Viewport-Breite setzen */
  height: 110vw; /* Höhe auf 110% der Viewport-Breite setzen */
  background-repeat: no-repeat; /* Hintergrundbild nicht wiederholen */
  background-size: cover; /* Hintergrundbild skalieren, um den gesamten Bereich abzudecken */
  transform: rotateZ(-45deg); /* Element um -45 Grad drehen */
  content: ""; /* Leeres Pseudoelement */
  background-image: url('house-at-pier-lake-1v.jpg'); /* Hintergrundbild festlegen */
}

/* Dritte Zeile der zweiten Spalte */
.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
  position: relative; /* Relative Positionierung */
  height: 18.6vw; /* Höhe auf 18.6% der Viewport-Breite setzen */
  overflow: hidden; /* Verhindert das Überlaufen von Inhalten */
}
